.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}
@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}

.bg-custom-1 {
    background-color: #68217a;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #76188d 0%, #85144b 100%);
  }

  .badge-purple{
    color: #fff;
    background-color: #76188d;  
  }
  .badge-navy{
    color: #fff;
    background-color: #14084b;  
  }

  ul.tags li {
    padding: 10px 5px;
  }

.btn-custom{
    color: #fff;
    background-image: linear-gradient(15deg, #76188d 0%, #85144b 100%);
    border-color: #85144b;   
  }

  .card-header {
    background-color: rgba(52,8,29,.03);
    border-bottom: 1px solid rgba(52,8,29,.125);
}