.badge-purple {
    color: #fff;
    background-color: #9055a2;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    margin-right:  0.25em;
    font-size: 60%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.box-masonry-description .badge{
    line-height: 1.6;
}

p.box {
    margin: 0 0 14px;
}

.em-head{
    font-weight: light;
    color: gray;
    font-size: 14px;
}

.mt-3{
    margin-top: 30px;
}

body{
    background-color: darkslategray;
}

.small-navbar-heading,
.sidebar-heading {
    text-transform: capitalize;
}
.small-navbar-heading,
.sidebar-heading {
    font-size:24px;
}

.sidebar-menu li a,
p.social a,
.sidebar-p{
    color:aliceblue;
}

.small-navbar-heading a,
.sidebar-heading a{
   color: #FF9FDD; 
}
p.social.social--big i,
.sidebar-heading a:hover,
.small-navbar-heading a:hover{
    color:#9055a2;
}

.box-masonry{
    box-shadow:0 0 5px #333; 
}

.social-link {
    color:#9055a2;
    text-decoration: none;
}
p.social.social--big i:hover,
.social-link:hover{
    text-decoration: none;
    color:#FF9FDD;
}
a:hover{
    text-decoration: none;
    color:#FF9FDD;
}
.box-masonry .box-masonry-image.with-hover-icon:after,
.box-masonry h4 a:hover{
    color:#9055a2;
}

@media screen and (max-width: 767px){
    .sidebar-heading {
        font-size: 16px;
    }}