body.dark-mode,
body.dark-mode main * {
  background: rgb(45, 45, 45);
  color: #f5f5f5;
}

.sociallinks a {
  background: #666;
  color: #fff;
}

.social-icon {
  color: rgba(215, 215, 215);
}

body.dark-mode .article-post {
  color: rgba(215, 215, 215, 0.8);
}

body.dark-mode .footer {
  background-color: rgba(45, 45, 45);
  color: rgba(215, 215, 215, 0.8);
}

body.dark-mode .index-sub {
  color: rgba(215, 215, 215, 0.54);
}

body.dark-mode .index-title {
  color: rgba(215, 215, 215, 0.84);
}

body.dark-mode ul.tags li a {
  background: rgba(215, 215, 215, 0.05);
  color: rgba(215, 215, 215, 0.6);
}

body.dark-mode .card {
  background-color: rgb(45, 45, 45);
  border: 1px solid rgba(215, 215, 215, 0.125);
}

body.dark-mode .bg-white {
  background-color: rgb(45, 45, 45) !important;
  border: 1px solid rgba(215, 215, 215, 0.125);
}

body.dark-mode .text-dark {
  color: #cbc5bf !important;
}

body.dark-mode .card-text {
  color: rgba(215, 215, 215, 0.44) !important;
}

body.dark-mode p {
  color: rgb(215, 215, 215);
}

body.dark-mode .socials a {
  color: rgb(215, 215, 215);
}
