{{ define "main" }}

<div class="col-xs-12 col-sm-8 col-md-9 content-column">
  <div class="small-navbar visible-xs">
    <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
    <h1 class="small-navbar-heading"><a href="https://womenofdot.net">#WomenOfDotNet</a></h1>
  </div>
  <div >
      <div id="Tags" style="margin-bottom:20px;">
        {{range .Site.Params.gen.filtertags}}
        
        <a class="badge badge-purple filter">{{.}}</a>
        {{end}}
      </div>
      <div id="Portfolios" class="masonry">

      </div>
    </div>
</div>

{{ end }}