{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <div class="after-post-tags">
            <ul class="tags">
            {{ range .Params.tags }}
            <li>
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
            </li>
            {{ end }}
            </ul>
        </div>
        <hr/>
         <div class="after-post-tags">
             <h3>Filter by region</h3>
            <ul class="tags">
           
            <li>
            <a href="/tags/africa">Africa</a>
            </li>
                 <li>
            <a href="/tags/Europe">Europe</a>
            </li>
                 <li>
            <a href="/tags/East%20Asia">East Asia</a>
            </li>
                 <li>
            <a href="/tags/Australasia">Australasia</a>
            </li>
                 <li>
            <a href="/tags/North%20America">North America</a>
            </li>
                 <li>
            <a href="/tags/South%20America">South America</a>
            </li>
                 <li>
            <a href="/tags/Antarctica">Antarctica</a>
            </li>
               
                 <li>
            <a href="/tags/Middle%20East">Middle East</a>
            </li>
                      <li>
            <a href="/tags/India">India</a>
            </li>
            </ul>
        </div>
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title">                
                
                {{ if eq .Type "workshop" }}
                    <h2><span>All Workshops</span></h2> 
                {{ else }}              
                    <h2><span>All Profiles</span></h2> 
                {{end}}              
            </div>            
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (.Pages) 9 }}
                {{ range $post_paginator.Pages.ByParam "title" }}
                    {{ if eq .Type "workshop" }}
                        {{- partial "list-partials/workshop-postbox.html" . -}}
                    {{ else }}              
                        {{- partial "list-partials/postbox.html" . -}}
                    {{end}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    
    {{- partial "_shared/footer.html" . -}}
{{ end }}
