<div class="share sticky-top sticky-top-offset">
    <p>Social</p>
    <ul>
        {{if .Params.twitter}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/{{ .Params.twitter }}">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.twitch}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitch.tv/{{ .Params.twitch }}">
                <i class="fab fa-twitch"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.github}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/{{ .Params.github }}">
                <i class="fab fa-github"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.linkedin}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/{{ .Params.linkedin }}">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.blogsite}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/{{ .Params.blogsite }}">
                <i class="fab fa-laptop-code"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.instagram}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/{{ .Params.instagram }}">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        {{ end }}
    </ul>


</div>