<div class="share sticky-top sticky-top-offset">
    <p>Social</p>
    <ul>
        {{if .Params.twitter}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/{{ .Params.twitter }}"
                onclick="window.open(this.href, 'twitter', 'width=550,height=435');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.twitch}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitch.tv/{{ .Params.twitch }}"
                onclick="window.open(this.href, 'twitch', 'width=550,height=435');return false;">
                <i class="fab fa-twitch"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.github}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/{{ .Params.github }}"
                onclick="window.open(this.href, 'github', 'width=550,height=435');return false;">
                <i class="fab fa-github"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.blogsite}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/{{ .Params.blogsite }}"
                onclick="window.open(this.href, 'github', 'width=550,height=435');return false;">
                <i class="fab fa-github"></i>
            </a>
        </li>
        {{ end }}
        {{if .Params.instagram}}
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/{{ .Params.instagram }}"
                onclick="window.open(this.href, 'github', 'width=550,height=435');return false;">
                <i class="fab fa-github"></i>
            </a>
        </li>
        {{ end }}
    </ul>


</div>