{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>

        <section class="text-center">
            {{ with .Site.Params.index.subtitle }}
            <h3 class="index-sub">{{ . }}</h3>
            {{ end }}

            {{ with .Site.Params.index.mdtext }}
            <h6 class="index-text">{{ . | markdownify }}</h6>
            {{ end }}
            <p>You can find instructions on how to add your profile <a target="_blank" href="https://github.com/Layla-P/WomenOfDotNet">here!</a></p>
        </section>
        <section class="text-center">
            <h3>Upcoming Events</h3>
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">Meet the team and find out more!</h5>
                    </div>
                    <div class="card-body">
                     
                      <p class="card-text">Host Jeff Fritz will introduce the team! Bring your questions and ideas!</p>
                      <a href="https://twitch.tv/wmnofdotnet" class="btn btn-sm btn-custom">https://twitch.tv/wmnofdotnet</a><br/>
                      <span>Wednesday 2nd February 2022</span><br/> 
                      <span>7:30pm IST | 2pm GMT | 9am ET | 6am PT</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">Meet the team and find out more!</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Host Corey Weathers will introduce the team! Bring your questions and ideas!</p>
                      <a href="https://twitch.tv/wmnofdotnet" class="btn btn-sm btn-custom">https://twitch.tv/wmnofdotnet</a><br/>
                      <span>Wednesday 16th February 2022 time tbd</span>
                    </div>
                  </div>
                </div>
              </div>
        </section>
    </div>
    {{- partial "_shared/social.html" . -}}
    {{ if isset .Site.Params.index "alertbar" }}
    	{{ if .Site.Params.index.alertbar }}
            {{- partial "_shared/alertbar.html" . -}}
        {{ end }}
    {{ end }}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
