<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; Copyright {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right text-small">    
                <a  target="_blank" rel="noopener" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net
              </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right text-small">    
                               <a target="_blank" rel="noopener" href='https://www.freepik.com/vectors/woman'>Woman vector created by freepik</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
