<section class="text-center">
    {{ with .Site.Params.social.github }}
    <a href="https://github.com/{{.}}"><i class="fab fa-github social-icon" aria-hidden="true"></i></a>
    {{ end }}  
    {{ with .Site.Params.social.twitter }}
    <a href="https://twitter.com/{{.}}"><i class="fab fa-twitter social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.twitch }}
    <a href="https://twitch.tv/{{.}}"><i class="fab fa-twitch social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.tiktok }}
    <a href="https://tiktok.com/{{.}}"><img alt="" class="icon mb-2 mx-0" style="width: 1.3em; filter: invert(62%) sepia(95%) saturate(584%) hue-rotate(166deg) brightness(91%) contrast(86%);" src='{{ "/images/icons/icon-tiktok.svg" | relURL }}'/></a>
    {{ end }}
    {{ with .Site.Params.social.youtube }}
    <a href="{{.}}"><i class="fab fa-youtube social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.instagram }}
    <a href="https://instagram.com/{{.}}"><i class="fab fa-instagram social-icon" aria-hidden="true"></i></a>
    {{ end }}
</section>
