<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">

              {{ if .Params.coverimage}}
              <img class="img-fluid" src="{{ .Params.coverimage }}" alt="A cover image chosen by the individual">
              {{else}}
              <img class="img-fluid" src="/images/women.png" alt="A default image as the individual hasn't provided a cover image">
              {{ end }}

            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ .Params.summary }}</h4>
                    
            {{ range .Params.tags }}
            <span class="badge badge-purple"> {{ . }}</span>
            {{ end }}

        </div>
        <div class="card-footer bg-white">
            {{if .Params.location}}
            <span class="">Location: {{ .Params.location}}</span>
            {{ end }}    
        </div>
    </div>
</div>
<!-- end post -->