<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">
              
                    <img class="img-fluid" src="{{ .Params.coverimage }}" alt="A thumbnail image">
                    
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ .Summary }}</h4>            
        </div>
        <div class="card-footer bg-white">
           
        </div>
    </div>
</div>
<!-- end post -->
